#Operação com string em Series

In [ ]:
import pandas as pd

In [ ]:
nomes = pd.Series(['Gabriel Assuncao', 'ANa Lacerda', 'aMANDA silva', 'Victor seabra', 'tiago oliveira'])

In [ ]:
nomes.str.lower()

In [ ]:
nomes.str.capitalize()

In [ ]:
nomes.str.split()

In [ ]:
nomes.str.len()

In [ ]:
nomes.str.startswith('t')

In [ ]:
nomes.str.capitalize().str.findall(r'^[^AEIOU].*') #No começo não começa com AEIOU

In [ ]:
nomes.str.contains('b').sum()

# Explode

In [ ]:
df = pd.DataFrame({'nomes': nomes.str.split()})

In [ ]:
df = df.reset_index()

In [ ]:
df.explode('nomes')