## Lista de Exercícios 3
#### Inferência Estatística

1.Descreva a diferença entre os testes de hipóteses paramétricos e não
paramétricos. Porque optamos primeiro por usar testes paramétricos?
(3 pts)
###### Resposta:
Normalmente, optamos por testes paramétricos quando as suposições para sua aplicação são atendidas, como a assumida distribuição normal ou aproximadamente normal dos dados. A escolha por testes paramétricos se deve ao fato de que eles tendem a ter mais poder estatístico quando as condições são satisfeitas. No entanto, é importante ressaltar que essa preferência está condicionada ao atendimento das suposições paramétricas, e quando essas suposições não são atendidas, os testes não paramétricos oferecem uma alternativa robusta. A principal diferença entre os dois está relacionada às suposições sobre a distribuição da população, sendo que os testes não paramétricos não dependem da distribuição normal dos dados.

____

2.Um fabricante de telefones deseja competir no mercado de telefones
touchscreen. Ele sabe que o produto líder tem bateria que dura apenas 5
horas. O fabricante afirma que, embora o novo telefone touchscreen seja
mais caro, sua bateria dura mais do que o do produto líder (mais de 10
horas). Para testar a afirmação desse fabricante, um pesquisador obtém
amostras de 45 unidades do novo telefone e descobre que a vida útil da
bateria da amostra é em média de 10,5 horas com um desvio padrão da
amostra de 1,4 horas.
(3 pts)

Amostra: [12.53, 12.23, 12.06, 10.54, 12.1, 10.8, 8.21, 8.79, 10.66, 10.98,
10.07, 10.51, 10.52, 9.92, 10.87, 8.17, 10.25, 10.84, 11.75, 11.36,
9.67, 12.19, 10.35, 11.9, 9.14, 9.84, 9.4, 12.65, 8.93, 12.41,
8.65, 11.14, 12.01, 7.9, 10.64, 10.02, 8.07, 11.21, 10.45, 10.95,
11.83, 10.17, 12.26, 9.46, 7.43]

* Especifique as hipóteses nula e alternativa apropriadas
* Calcule a Estatística de teste e o p-valor. Faça as validações
necessárias para utilizar o teste.
* Com um nível de significância de 5%, qual é a conclusão do teste?

In [4]:
amostras = [
    12.53,
    12.23,
    12.06,
    10.54,
    12.1,
    10.8,
    8.21,
    8.79,
    10.66,
    10.98,
    10.07,
    10.51,
    10.52,
    9.92,
    10.87,
    8.17,
    10.25,
    10.84,
    11.75,
    11.36,
    9.67,
    12.19,
    10.35,
    11.9,
    9.14,
    9.84,
    9.4,
    12.65,
    8.93,
    12.41,
    8.65,
    11.14,
    12.01,
    7.9,
    10.64,
    10.02,
    8.07,
    11.21,
    10.45,
    10.95,
    11.83,
    10.17,
    12.26,
    9.46,
    7.43,
]

#### Teste de hipotese
$$ H_0 : \mu = 10 \newline
   H_1 : \mu > 10 
$$
$$
   Z = \frac{\overline{x} - \mu_0}{\frac{\sigma}{\sqrt{n}}}
$$

In [15]:

import scipy.stats as st

media_amostral = 10.5  ## media amostral
desvio_prad_pop = 1.4  ## desvio padrao populacional
media_hip = 10  ## media hipotese
n = len(amostras)
nivel_signi = 0.05  ## nivel de significancia

Z = (media_amostral - media_hip) / (desvio_prad_pop / (n**0.5))  ## sqrt(n) = n ** 0.5

p_valor = 1 - st.norm.cdf(Z)

if p_valor < nivel_signi:
    conclusao = "Rejeitar a hipótese nula"
else:
    conclusao = "Não rejeitar a hipótese nula"

# Saída
print(f"Estatística de Teste Z: {round(Z, 3)}")
print(f"P-valor: {round(p_valor, 3)}")
print(f"Conclusão do Teste: {conclusao}")

Estatística de Teste Z: 2.396
P-valor: 0.008
Conclusão do Teste: Rejeitar a hipótese nula

-----

3.Um estudo recente da Allstate Insurance Co. descobriu que 82% dos
adolescentes americanos usam celulares enquanto dirigem. Em 2010, o
estado de Massachusetts promulgou uma lei que proíbe o uso de telefone
celular por motoristas menores de 18 anos. Um analista gostaria de
determinar se a lei diminuiu a proporção de motoristas com menos de 18
anos que usam celular enquanto dirigem. (3 pts)
* Especifique as hipóteses nula e alternativa.
* Suponha que uma amostra de 200 motoristas com menos de 18 anos
resulte em 150 que ainda usam celular enquanto dirigem. Calcule a
Estatística de teste e o p-valor. Faça as validações necessárias para
utilizar o teste.
* Com α = 0,05, a lei foi eficaz?

#### Teste de hipotese
$$ H_0 : p = 0.82 \newline
   H_1 : p < 0.82 
$$
$$
   Z = \frac{\hat{p} - p_0}{\sqrt{\frac{\hat{p} (1 - \hat{p})}{n}}}
$$

In [16]:
prop_amost = 150 / 200
prop_hip = 0.82

n = 200

nivel_signi = 0.05

Z = (prop_amost - prop_hip) / ((prop_hip * (1 - prop_hip) / n) ** 0.5)

if p_valor < nivel_signi:
    conclusao = "Rejeitar a hipótese nula"
else:
    conclusao = "Não rejeitar a hipótese nula"


print(f"Estatística de Teste Z: {Z}")
print(f"P-valor: {p_valor}")
print(f"Conclusão do Teste: {conclusao}")

Estatística de Teste Z: -2.576735608413084
P-valor: 0.0082923597113993
Conclusão do Teste: Rejeitar a hipótese nula

------

4.A vida média de uma amostra de 100 lâmpadas de certa marca é de 1.598
horas aproximadamente. Por similaridade com outros processos de
fabricação, sabe-se que o desvio padrão é igual a 120 Horas. Desejamos
testar se a duração média de todas as lâmpadas dessa marca é diferente de
1.600 horas. (3 pts)

Amostra = [1647.59, 1687.1, 1673.78, 1473.45, 1416.26, 1650.44, 1584.19,
1598.89, 1563.98, 1519.6, 1424.55, 1674.44, 1619.96, 1560.52, 1486.71, 1545.91,
1910.67, 1741.09, 1532.24, 1593.26, 1663.64, 1576.65, 1445.8, 1534.2, 1568.34,
1524.93, 1578.27, 1760.9, 1572.98, 1629.74, 1773.92, 1580.99, 1569.87, 1469.23,
1487.92, 1720.54, 1631.08, 1460.43, 1555.71, 1723.44, 1568.48, 1543.65, 1543.78,
1609.93, 1599.63, 1709.23, 1434.94, 1669.04, 1388.75, 1501.29, 1623.75, 1542.41,
1617.93, 1861.44, 1557.13, 1432.54, 1766.31, 1678.37, 1463.46, 1647.16, 1611.37,
1537.3, 1617.04, 1630.58, 1618.38, 1575.04, 1774.63, 1739.11, 1693.14, 1714.35,
1698.93, 1572, 1532.64, 1418.22, 1567.97, 1470.45, 1563.12, 1639.74, 1766.52,
1672.85, 1534.74, 1375.84, 1601.11, 1650.86, 1749.66, 1630.23, 1546.1, 1697.13,
1600.64, 1646.69, 1654.1, 1666.44, 1633.33, 1490.66, 1551.56, 1434.63, 1472.35,
1734.77, 1586.06, 1604.09]

* Especifique as hipóteses nula e alternativa apropriadas. Faça as
validações necessárias para utilizar o teste.
* Calcule a Estatística de teste e o p-valor.
* Com um nível de significância de 5%, qual é a conclusão do teste?

#### Teste de hipotese
$$ H_0 : \mu = 1600 \newline
   H_1 : \mu \neq 1600 
$$
$$
   Z = \frac{\overline{X} - \mu_0}{\frac{\sigma}{\sqrt{n}}}
$$

In [18]:
amostras = [
    1647.59,
    1687.1,
    1673.78,
    1473.45,
    1416.26,
    1650.44,
    1584.19,
    1598.89,
    1563.98,
    1519.6,
    1424.55,
    1674.44,
    1619.96,
    1560.52,
    1486.71,
    1545.91,
    1910.67,
    1741.09,
    1532.24,
    1593.26,
    1663.64,
    1576.65,
    1445.8,
    1534.2,
    1568.34,
    1524.93,
    1578.27,
    1760.9,
    1572.98,
    1629.74,
    1773.92,
    1580.99,
    1569.87,
    1469.23,
    1487.92,
    1720.54,
    1631.08,
    1460.43,
    1555.71,
    1723.44,
    1568.48,
    1543.65,
    1543.78,
    1609.93,
    1599.63,
    1709.23,
    1434.94,
    1669.04,
    1388.75,
    1501.29,
    1623.75,
    1542.41,
    1617.93,
    1861.44,
    1557.13,
    1432.54,
    1766.31,
    1678.37,
    1463.46,
    1647.16,
    1611.37,
    1537.3,
    1617.04,
    1630.58,
    1618.38,
    1575.04,
    1774.63,
    1739.11,
    1693.14,
    1714.35,
    1698.93,
    1572,
    1532.64,
    1418.22,
    1567.97,
    1470.45,
    1563.12,
    1639.74,
    1766.52,
    1672.85,
    1534.74,
    1375.84,
    1601.11,
    1650.86,
    1749.66,
    1630.23,
    1546.1,
    1697.13,
    1600.64,
    1646.69,
    1654.1,
    1666.44,
    1633.33,
    1490.66,
    1551.56,
    1434.63,
    1472.35,
    1734.77,
    1586.06,
    1604.09,
]

In [20]:
media_amost = np.mean(amostras)
media_hip = 1600
desvio_prad = 120
n = len(amostras)

nivel_signi = 0.05

Z = (media_amost - media_hip) / (desvio_prad / (n**0.5))

prob = st.norm.cdf(np.abs(Z))  ## usei modulo apenas para deixar possitivo

p_valor = 2 * (1 - prob)  ## 2 * por ser um teste bicaldal

if p_valor < nivel_signi:
    conclusao = "Rejeitar a hipótese nula"
else:
    conclusao = "Não rejeitar a hipótese nula"


print(f"Estatística de Teste Z: {round(Z, 3)}")
print(f"P-valor: {round(p_valor, 3)}")
print(f"Conclusão do Teste: {conclusao}")

Estatística de Teste Z: -0.194
P-valor: 0.846
Conclusão do Teste: Não rejeitar a hipótese nula

------

5.O mundo industrial compartilha um objetivo comum: melhorar a qualidade
pela redução da variação. Os engenheiros de controle da qualidade desejam
garantir que um produto tem uma média aceitável, mas desejam também,
produzir itens de qualidade consistente, de modo que existirão menos
defeitos. Uma empresa tem produzido latas de refrigerante com
quantidades que têm desvio padrão de 0,051. Uma nova máquina de
engarrafamento que foi construída com o objetivo de melhorar ainda mais o
processo(ou seja, reduzir ainda mais a variabilidade) é testada, e uma
amostra aleatória simples de 24 latas resulta nas quantidades listadas
abaixo. (3 pts)

Amostra = [11.98, 11.98, 11.99, 11.98, 11.90, 12.02, 11.99, 11.93,
12.02, 12.02, 12.02, 11.98, 12.01, 12.00, 11.99, 11.95,
11.95, 11.96, 11.96, 12.02, 11.99, 12.07, 11.93, 12.05]

* Especifique as hipóteses nula e alternativa apropriadas e faça o teste
de hipótese.
* Faça as validações necessárias para utilizar o teste.
* Com um nível de significância de 5%, qual é a conclusão do teste?

#### Teste de hipotese
$$ H_0 : \sigma^2_{antes} = \sigma^2_{depois} \newline
   H_1 : \sigma^2_{antes} < \sigma^2_{depois} 
$$
$$
   F = \frac{S^2_{antes}}{S^2_{depois}} 
$$

In [21]:
amostras = [
    11.98,
    11.98,
    11.99,
    11.98,
    11.90,
    12.02,
    11.99,
    11.93,
    12.02,
    12.02,
    12.02,
    11.98,
    12.01,
    12.00,
    11.99,
    11.95,
    11.95,
    11.96,
    11.96,
    12.02,
    11.99,
    12.07,
    11.93,
    12.05,
]

In [22]:
amostras = np.array(amostras)

vari_antes = np.var(amostras, ddof=1)
vari_depois = 0.051**2

nivel_signi = 0.05

F = vari_antes / vari_depois

grau_antes = len(amostras) - 1
grau_depois = 1

p_valor = 1 - st.f.cdf(F, grau_antes, grau_depois)

if p_valor < nivel_signi:
    decisao = "Rejeitar H0"
else:
    decisao = "Aceitar H0"

# Resultados
print(f"Estatística de Teste (F): {F}")
print(f"P-Valor: {p_valor}")
print(f"Decisão: {decisao}")

Estatística de Teste (F): 0.593347597635246
P-Valor: 0.7929175922149019
Decisão: Aceitar H0

_____

6.Entre 2200 passageiros de carro do sexo masculino com a idade acima de 8
anos, 72% usam cinto de segurança, entre 2380 passageiros de carro do
sexo feminino com idade acima de 8 anos, 84% usam cinto de segurança.
Use o nível de significância de 5%, para testar a afirmativa que ambos os
sexos têm a mesma taxa no uso de cinto de segurança. Com base no
resultado parece haver uma diferença entre os sexos? Escreva as hipóteses
do teste, as suposições são atendidas? (3 pts)

#### Teste de hipotese
$$ H_0 : p_{masc} = p_{femi} \newline
   H_1 : p_{masc} \neq p_{femi} 
$$
$$
   Z = \frac{\hat{p_{masc}} - \hat{p_{femi}}}{\sqrt{ \hat{p} (1 = \hat{p}) (\frac{1}{n_{masc}}} + \frac{1}{n_{femi}} ) } 
$$

In [33]:
n_masc = 2200
p_masc = 0.72

n_femi = 2380
p_femi = 0.84

nivel_signi = 0.05

p_combinado = (n_masc * p_masc + n_femi * p_femi) / (n_masc + n_femi)

Z = (p_masc - p_femi) / np.sqrt(p_combinado * (1 - p_combinado) * (1 / n_masc + 1 / n_femi))

prob = st.norm.cdf(np.abs(Z))

p_valor = 2 * (1 - prob)

if p_valor < nivel_signi:
    decisao = "Rejeitar H0"
else:
    decisao = "Aceitar H0"

# Resultados
print(f"Estatística de Teste (Z): {round(Z,3)}")
print(f"P-Valor: {p_valor}")
print(f"Decisão: {decisao}")

Estatística de Teste (Z): -9.833
P-Valor: 0.0
Decisão: Rejeitar H0

-----

7.Uma distribuidora de combustível deseja verificar se um novo tipo de gasolina
é eficaz na revitalização de motores velhos. Com esse objetivo, seleciona 12
automóveis de um mesmo modelo com mais de 8 anos de uso, e após
regular os motores, verifica o consumo de combustível. Em seguida, os
carros são abastecidos com o novo tipo de combustível durante 15 semanas,
e uma nova aferição do consumo é feita. Considere as medições da tabela
abaixo, escreva as hipóteses e verifique através de um teste de hipótese se o
rendimento médio é de fato superior para esse novo combustível ao nível de
5% de significância. Verifique a suposição necessária. (3 pts)

#### Teste de hipotese
$$ H_0 : \mu_{antes} = \mu_{depois} \newline
   H_1 : \mu_{antes} < \mu_{depois} 
$$

In [32]:
import pandas as pd


df = pd.DataFrame({
    "Automovel":[1,2,3,4,5,6,7,8,9,10,11,12],
    "Consumo_antes":[8.1, 7.9, 6.8, 7.8, 7.6, 7.9, 5.7, 8.4, 8.0, 9.5, 8.0, 6.8],
    "Consumo_depois":[11.6, 8.8, 9.9, 9.5, 11.6, 9.1, 10.6, 10.8, 13.4, 10.6, 10.5, 11.4]
})

In [34]:
df.head()

   Automovel  Consumo_antes  Consumo_depois
0          1            8.1            11.6
1          2            7.9             8.8
2          3            6.8             9.9
3          4            7.8             9.5
4          5            7.6            11.6

In [45]:
from scipy.stats import ttest_rel

nivel_signi = 0.05


t_stat, p_valor = ttest_rel(df["Consumo_depois"], df["Consumo_antes"])


if p_valor < nivel_signi:
    decisao = "Rejeitar H0"
else:
    decisao = "Aceitar H0"

print(f"Estatística de Teste (t): {t_stat}")
print(f"P-Valor: {p_valor}")
print(f"Decisão: {decisao}")

Estatística de Teste (t): 6.539586006960168
P-Valor: 4.194603259445353e-05
Decisão: Rejeitar H0

-------

8.Digitadores são treinados em uma empresa em duas turmas distintas. Na
primeira, denominada turma J, utiliza-se o método japonês de ensino, na
segunda turma, denominada turma A, utiliza-se um método alemão.
Deseja-se comparar os dois métodos e para tanto, 16 alunos de cada turma
foram escolhidos aleatoriamente e uma mesma tarefa foi atribuída a cada
um. Ao final do experimento, o tempo gasto na realização da tarefa, para
cada aluno foi anotado. No processo, dois computadores utilizados por
alunos da turma J e três da turma A, apresentaram problemas que impediram
a realização da tarefa, por isso o tamanho da amostra foi reduzido.
Apesar de não conhecidas, as variâncias populacionais para as duas
turmas são consideradas iguais com base em estudos anteriores. Ao
nível de 5%, teste a hipótese para checar se existe diferença significativa no
tempo médio de realização da tarefa para as duas turmas. (Sabe-se, que o
tempo médio para realização das tarefas tem distribuição normal.) Os dados
obtidos foram: (3 pts)

$$
    H_0 : \text{As medias das duas turmas são iguais} \newline
    H_1 : \text{As medias das duas turmas sao diferentes}
$$

In [49]:
df = {
    "Turma_J": [10, 13, 9, 10, 14, 13, 10, 15, 12, 10, 9, 10, 13, 14],
    "Turma_A": [
        15,
        12,
        18,
        16,
        15,
        17,
        17,
        15,
        16,
        17,
        11,
        17,
        14,
        None,
    ],  
}

df = pd.DataFrame(df)

In [51]:
df

    Turma_J  Turma_A
0        10     15.0
1        13     12.0
2         9     18.0
3        10     16.0
4        14     15.0
5        13     17.0
6        10     17.0
7        15     15.0
8        12     16.0
9        10     17.0
10        9     11.0
11       10     17.0
12       13     14.0
13       14      NaN

In [56]:
from scipy.stats import ttest_ind

nivel_signi = 0.05

df = df.dropna()  ## como e apenas uma linha então resolvi dropala com o valor faltante

t_stat, p_valor = ttest_ind(df["Turma_J"], df["Turma_A"])

if p_valor < nivel_signi:
    decisao = "Rejeitar H0"
else:
    decisao = "Aceitar H0"


print(f"Estatística de Teste (t): {t_stat}")
print(f"P-Valor: {p_valor}")
print(f"Decisão: {decisao}")

Estatística de Teste (t): -4.992159751668121
P-Valor: 4.2402796229429034e-05
Decisão: Rejeitar H0

------

9.Queremos verificar o efeito do tipo de impermeabilização em lajes de
concreto. As quantidades de água que passaram pela laje, em cada tipo de
concreto, foram medidas obtendo-se os valores da tabela abaixo.
Teste ao nível de 5% de significância a impermeabilidade média dos tipos de
concreto. Escreva as hipóteses do teste e valide as suposições necessárias.
Qual a conclusão podemos obter? (3 pts)

$$
    H_0 : \text{As médias de impermeabilidade dos quatros tipos de concretos são iguais} \newline
    H_1 : \text{Pelo menos uma das médias e diferente}
$$

In [82]:
df = pd.DataFrame(
    {
        "Tipo_I": [56, 55, 62, 59, 60],
        "Tipo_II": [64, 61, 50, 55, 56],
        "Tipo_III": [45, 46, 45, 39, 43],
        "Tipo_IV": [42, 39, 45, 43, 41],
    }
)

In [83]:
df

   Tipo_I  Tipo_II  Tipo_III  Tipo_IV
0      56       64        45       42
1      55       61        46       39
2      62       50        45       45
3      59       55        39       43
4      60       56        43       41

In [84]:
df = pd.melt(df, var_name="Tipo", value_name="Impermeabilidade") ## Alterando o tipo do dataframe, especifico para impermeabilidade

In [85]:
df

        Tipo  Impermeabilidade
0     Tipo_I                56
1     Tipo_I                55
2     Tipo_I                62
3     Tipo_I                59
4     Tipo_I                60
5    Tipo_II                64
6    Tipo_II                61
7    Tipo_II                50
8    Tipo_II                55
9    Tipo_II                56
10  Tipo_III                45
11  Tipo_III                46
12  Tipo_III                45
13  Tipo_III                39
14  Tipo_III                43
15   Tipo_IV                42
16   Tipo_IV                39
17   Tipo_IV                45
18   Tipo_IV                43
19   Tipo_IV                41

In [87]:
from statsmodels.stats import anova
import statsmodels.api as sm
from statsmodels.formula.api import ols

nivel_signi = 0.01


model = ols("Impermeabilidade ~ Tipo", data=df).fit()

resultado = sm.stats.anova_lm(model, typ=2)

print(resultado)

if p_value < nivel_signi:
    print("Rejeitar H0: Pelo menos uma média é diferente.")
else:
    print("Não rejeitar H0: Não há evidências suficientes para afirmar que as médias são diferentes.")

          sum_sq    df          F        PR(>F)
Tipo      1135.0   3.0  29.790026  8.775406e-07
Residual   203.2  16.0        NaN           NaN
Rejeitar H0: Pelo menos uma média é diferente.

-----

10.Um órgão educacional do governo decidiu comparar o desempenho de notas
obtidas por estudantes de escola particular e pública, a suposição é de que
as notas de escola pública são menores que as notas obtidas por estudantes
de escolas particulares. Para testar essa hipótese, foram selecionadas dias
mostras de estudantes que prestaram vestibular, suas médias gerais foram
categorizadas em 4 grupos e portanto obteve-se os dados abaixo: (3 pts).
Teste a hipótese que as duas populações são homogêneas, para o nível de
significância de 1%.

$$
    H_0: \text{As médias populacionais são iguais} \newline
    H_1 : \text{As médias populacionais são diferentes}
$$

In [89]:
df = pd.DataFrame(
    {
        "Escola": ["Publica", "Particular", "Total"],
        "0-2.5": [15, 6, 21],
        "2.5-5.0": [22, 10, 32],
        "5.0-7.5": [18, 20, 38],
        "7.5-10": [3, 6, 9],
        "Total": [58, 42, 100],
    }
)

df.head()

       Escola  0-2.5  2.5-5.0  5.0-7.5  7.5-10  Total
0     Publica     15       22       18       3     58
1  Particular      6       10       20       6     42
2       Total     21       32       38       9    100

In [90]:
df.loc[df["Escola"] == "Publica"].loc[:, ["0-2.5", "2.5-5.0", "5.0-7.5", "7.5-10"]].values.flatten()

array([15, 22, 18,  3], dtype=int64)

In [91]:
notas_publicas = df.loc[df["Escola"] == "Publica"].loc[:, ["0-2.5", "2.5-5.0", "5.0-7.5", "7.5-10"]].values.flatten()
notas_particulares = df.loc[df["Escola"] == "Particular"].loc[:, ["0-2.5", "2.5-5.0", "5.0-7.5", "7.5-10"]].values.flatten()

t_stat, p_value = ttest_ind(notas_publicas, notas_particulares, equal_var=False)

nivel_signi = 0.05

if p_value < nivel_signi:
    print("Rejeitar H0: As médias são diferentes, há evidências de diferença significativa entre as escolas.")
else:
    print("Não rejeitar H0: Não há evidências suficientes para afirmar que as médias são diferentes.")

Não rejeitar H0: Não há evidências suficientes para afirmar que as médias são diferentes.